/* Provide sufficient contrast against white background */
/* base styles */
* {
  margin: 0;
  /* font-family: "Times New Roman",; */
  color: #333;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn {
  color: #fff;
  margin: 10px;
  text-align: center;
}

.btn-primary {
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.form label {
  text-align: left;
  display: block;
  padding: 3px;
  font-weight: bolder;
}

.form .note{
  text-align: left;
}

.form input, .form textarea, .form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #aca6a6;
  box-sizing: border-box;
  display: block;
}

.right {
  position: absolute;
  right: 0px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closeBtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closeBtn:hover {
  color: black;
}

.hide{
  display: none;
}